name: Build Python 2
on: [workflow_dispatch]

jobs: 
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Install Python
      uses: actions/setup-python@v6
      with:
        python-version: '3.13'
    - name: Checkout do codigo
      uses: actions/checkout@v4
    - name: List
      run: ls -ll
    - name: Install reqs
      run: | 
        python -m pip install --upgrade pip
        pip install -r requirements.txt
    
    - name: Run Tests
      id: tests
      continue-on-error: true
      run: pytest -v > resultado_teste.txt
    
    - name: Verificar resultado do Pytest
      run: |
        if [ "${{steps.tests.outcome}}" == "failure" ]; then
          echo: "O step 'test' falhou"
        else 
          echo "O Step rodou!"
        fi
    - name: Forcar falha se pytest falhar
      if: ${{ steps.tests.outcome == 'failure'}}
      run: exit 1
  
    - name: Upload File
      if: ${{ always() }}
      uses: actions/upload-artifact@v4   
      with:
        name: resultado
        path: resultado_teste.txt