name: Build Python
#on: [workflow_dispatch]
on:
  schedule:
    - cron: "50 23 * * *"
  
jobs: 
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Install Python
      uses: actions/setup-python@v6
      with:
        python-version: '3.13'
    - name: Checkout do codigo
      uses: actions/checkout@v4
    - name: List
      run: ls -ll
    - name: Install reqs
      run: | 
        python -m pip install --upgrade pip
        pip install -r requirements.txt
    - name: Run Tests
      run: pytest -v > resultado_teste

    - name: Sucesso
      if: ${{ success() }}
      run: echo "Todos os steps deram sucesso"
    
    - name: Erro
      if: ${{ failure() }}
      run: "Falhou"

  
    - name: Upload File
      if: ${{ always() }}
      uses: actions/upload-artifact@v4   
      with:
        name: resultado
        path: resultado_teste