name: Build Python
on: [push]
  
jobs: 
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Install Python
      uses: actions/setup-python@v6
      with:
        python-version: '3.13'
    - name: Checkout do codigo
      uses: actions/checkout@4
    - name: List
      run: ls -ll

