name: CI com badge estático

on: [push]
jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
        - name: Checkout
          uses: actions/checkout@v4

        - name: Setup Python
          uses: actions/setup-python@v5
          with:
              python-version: '3.11'

        - name: Instalar dependências
          run: |
              python -m pip install --upgrade pip
              pip install -r requirements.txt

        - name: Rodar testes com cobertura
          run: pytest -v --cov=sisrel --cov-report=xml:coverage.xml
        - name: Gerar Badge estatico de cobertura
          id: badge
          run: |
            COVERAGE=$(grep -oPm1 '(?<=line-rate=")[^"]+' coverage.xml)
            PERCENT=$(python -c "print(int(float('${COVERAGE}')*100))")

            echo "Cobertura: ${PERCENT} %"

            #Define a cor 
            if [ "${PERCENT}" -ge 90]; then COLOR="#4c1";
            elif [ "${PERCENT}" -ge 75] then COLOR="#97ca00";
            elif [ "${PERCENT}" -ge 75 ]; then COLOR="#97ca00";   # green
            elif [ "${PERCENT}" -ge 50 ]; then COLOR="#dfb317";   # yellow
            else                             COLOR="#e05d44";     # red

            echo "Cor usada no badge: ${COLOR}"
